li {
  padding: 5px;
  margin: 5px;
  background: none;
  list-style: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

img {
  /* padding: 0 40px; */
  display: block;
  margin: auto;
}

.container{
  padding: -1;
}

.col-md-6{
  padding: 0 40px;
}

.jumbotron{
  margin: 0 -15px;
}

.row{
  margin-top: 40px;
}

.mycol{
  margin-top: 40px;
}

h2{
  margin-bottom: 40px;
}